
$blue-600: #0C3F6F;
$blue-500: #115EA6;
$blue-400-brand: #177ddc;
$blue-300: #e6f3ff;
$blue-200: #7EBAF1;
$blue-100: #B6D7F7;

$grey-600: #111418;
$grey-500: #435160;
$grey-400: #95a5b6;
$grey-300: #cfd5de;
$grey-200: #e7eaee;
$grey-100: #f3f5f7;
